:root {
  --black: #1a1a1a; /*주로 배경색*/
  --gray-1: #2e2e2e;
  --gray-2: #484848;
  --gray-3: #555555; /*비강조, 두루두루*/
  --gray-4: #7e7e7e; /*비강조, 주로 텍스트*/
  --gray-5: #a7a7a7;
  --gray-6: #d5d5d5; /*강조, 주로 아이콘*/
  --gray-7: #f2f2f2; /*강조, 주로 텍스트*/
  --white: #ffffff;
  --green: #22ff60; /*포인트*/
}
