:root{
    --black : #1A1A1A; /*주로 배경색*/
    --gray-1 : #2E2E2E;
    --gray-2 : #484848;
    --gray-3 : #555555;/*비강조, 두루두루*/
    --gray-4 : #7E7E7E; /*비강조, 주로 텍스트*/
    --gray-5 :#A7A7A7; 
    --gray-6 :#D5D5D5;/*강조, 주로 아이콘*/
    --gray-7 :#F2F2F2;/*강조, 주로 텍스트*/
    --white : #FFFFFF;
    --green : #22FF60;/*포인트*/
}